.img-navbar {
    margin-right: 5px;
}

.main-content {
    margin-top: 2vh;
}

@media screen and (max-width: 959px) {
    p-menubar {
        display: flex;
        flex-direction: row-reverse;
    }
}




