tr>th {
  text-align: center !important;
  background: goldenrod !important;
}

tr>td {
  text-align: center !important;
}


::ng-deep {
  .p-rating .p-rating-icon.pi-star-fill {
    color: goldenrod !important;
  }

  .p-rating .p-rating-icon {
    color: goldenrod !important;
  }
}

.casino-column {
  display: flex;
  flex-direction: column;
}

.mobile-casino {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  img {
    max-width: 50%;
  }
}

.mobile-bonus {
  .bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.mobile-feature {
  margin-bottom: 20px;

  i {
    font-size: 0.6em;
    margin-right: 5px;
  }
}

.mobile-play {
  button {
    background-color: green;
    border-color: green;
    margin-bottom: 10px;
  }
}


.features-column {
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    margin-right: 10px;
  }
}

.play-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    background-color: green;
    border-color: green;
    margin-bottom: 10px;
  }
}

.p-button:enabled:hover {
  background: darkgreen;
  border-color: darkgreen;
}

.mobile-title {
  margin-bottom: 10px;
  background-color: goldenrod;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    font-size: 2em;
    color: dimgray
  }
}
