<div (window:resize)="onResize($event)">
  <div class="nodata" *ngIf="products.length === 0">
    <p>No data available</p>
  </div>
  <p-table [value]="products" *ngIf="!mobile && products.length > 0">
    <ng-template pTemplate="header">
      <tr>
        <th>Casino</th>
        <th>Bonus</th>
        <th>Features</th>
        <th>Play</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product *ngIf="products">
      <tr>
        <td>
          <div class="casino-column">
            <img src="{{ product.logo }}" />
            <a routerLink="/reviews/{{ product.brand_id }}">Review</a>
          </div>
        </td>
        <td>
          <p-rating [ngModel]="product.info.rating" [readonly]="true" [cancel]="false" class="rkt-rating"></p-rating>
          <p>{{ product.info.bonus }}</p>
        </td>
        <td>
          <ng-container *ngFor="let feature of product.info.features">
            <div class="features-column">
              <i class="pi pi-circle-fill"></i>
              <span style="margin-bottom: 5px">{{ feature }}</span>
            </div>
          </ng-container>
        </td>
        <td>
          <div class="play-column">
            <button pButton type="button" (click)="clickProduct(product.play_url)">
              <span><u>PLAY NOW</u></span>
            </button>
            <div [innerHTML]="product.terms_and_conditions"></div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <p-table [value]="products" *ngIf="mobile && products.length > 0"> 
    <ng-template pTemplate="header">
      <tr>
        <th>Casino</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <div class="mobile-casino">
            <img src="{{ product.logo }}" />
            <a routerLink="/reviews/{{ product.brand_id }}">Review</a>
          </div>
          <div class="mobile-bonus">
            <p-rating [ngModel]="product.info.rating" [readonly]="true" [cancel]="false" class="rkt-rating"></p-rating>
            <div class="bonus">
              <span><b>Bonus:</b></span>
              <span>{{ product.info.bonus }}</span>
            </div>
          </div>
          <div class="mobile-feature">
            <span><b>Feature:</b></span>
            <ng-container *ngFor="let feature of product.info.features">
              <div>
                <i class="pi pi-circle-fill"></i>
                <span>{{ feature }}</span>
              </div>
            </ng-container>
          </div>
          <div class="mobile-play">
            <button pButton type="button" (click)="clickProduct(product.play_url)">
              <span><u>PLAY NOW</u></span>
            </button>
            <div [innerHTML]="product.terms_and_conditions"></div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
</div>
